---
permalink: /404
---
<html>

{% include head.html %}

<body style="background-color: black; overflow: hidden !important">
<canvas id="space" width="1600px" height="1000px" style="position: absolute; z-index: 0">
</canvas>
<canvas id="planets" width="1600px" height="1000px" style="position: absolute; z-index: 1">
</canvas>
<div style="text-align: center; color: whitesmoke; z-index: 10">
    <h1 style="font-family: medium-content-serif-font,Georgia,Cambria,'Times New Roman',Times,serif; font-size: 48px;"><em>404 - Page Not Found</em></h1>
    <a href="localhost:4000"><button style="color: white;">Return Home</button></a>
</div>

{% include footer-404.html %}

</body>

</html>



