/**
 * Site header
 */
.site-header {
    //border-top: 10px solid $grey-color-dark;
    //border-bottom: 1px solid $grey-color-light;
    //min-height: 56px;
    background-color: $grey-color-dark;
    //background-color: white;
    color: white;
    padding: 0 30px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    //box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);

    // Positioning context for the mobile navigation icon
    //position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

#left-nav {
    position: fixed;
    //margin-left: 5%;
}
#right-nav {
    text-align: left;
    margin-left: 20px;
}

.site-navbar {
    text-align: right;
    width: 20%;
    display:inline-block;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    vertical-align: top;
    margin-top: 30px;

    h2, h3, a, p {margin: 0 0 -3px 0;}
    h2, h3, .regular {font-variant: small-caps;}
    h2 {font-size: 28px;}
    a {color: black; display: block}
    a:hover {color: #CEA85F}

    .nav-group {
        margin-bottom: 10px;
    }
    .regular {
        font-weight: 500;
        font-size: 22px;
    }
    .light {
        font-weight: 300;
    }
    .lightest {
        font-weight: 100;
    }
    .shrink {
        font-size: 16px;
    }

}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    //border-top: 1px solid $grey-color-light;
    //padding: $spacing-unit 0;
    position: absolute;
    width: 100vw;
    margin-bottom: 0;
    margin-top: 0;
}
.footer-left {
    height: 20px;
    display: inline-block;
    margin: 0;
    font-weight: 100;
    padding: 10px;
    text-align: center;
    font-variant: small-caps;
    background-color: black;
    color: white;
    width: 50%;
}
.footer-right {
    height: 20px;
    display: inline-block;
    margin: 0;
    font-weight: 100;
    padding: 10px;
    text-align: center;
    background-color: $grey-color-dark;
    color: white;
    width: 50%;

    span {
        font-variant: small-caps;
    }
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

/**
* Site content wrapper
*/

.content-wrapper {
    width: 50%;
    display:inline-block;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 0 0 25%;
    //overflow: scroll;
    //max-height: 80vh;
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
    font-weight: 300;
    margin-top: 30px;
}

.page-heading {
    font-size: 28px;
    font-weight: 100;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
