/*START OF CUSTOM CSS*/
/* 0. Styling basic elements
–––––––––––––––––––––––––––––––––––––––––––––––––– */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  background-color: salmon;
  z-index: 5;
}
p {
  margin: 0;
}
a {
  color: black;
  cursor: pointer;
}
li ol {
  display: none;
}
ol {
  list-style-type: none;
  margin-left: 15px;
}
article {
  margin-bottom: 20px;

  h1, h2, h3, h4, h5 {
    font-family: 'Roboto','Lucida Sans Unicode','Lucida Sans',Geneva,Verdana,sans-serif;
  }

  h1 {
    font-weight: 600;
    font-size: 2.25em;
    margin-left: -2.25px;
    line-height: 1.05em;
    letter-spacing: -.02em;
    border-bottom: 1px dashed salmon;
  }

  h2 {
    margin-bottom: 0;
    font-size: 2.0em;
    line-height: 1.25em;
    //font-weight: 600;
  }
  h3 {
    margin-bottom: 0;
    //font-weight: 600;
    font-size: 1.85em;
    line-height: 1.25em;
    font-variant: small-caps;
    font-weight: 600;
  }
  h4 {
    font-weight: 600;
    font-size: 1.125em;
    line-height: 1.22em;
    margin: 0;
  }
  h5 {
    margin: 0;
    font-weight: 600;
    font-size: 1.05em;
    line-height: 1.3em;
  }
  p, li {
    font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    line-height: 1.375;
    letter-spacing: -.003em;
  }
  img {
    margin-bottom: 10px;
    border-radius: 2px;
    width: 110%;
    max-width: 200%;
  }
}

/* 1. Body Elements
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: absolute;
  width: 92%;
  min-height: 87vh;
  left: 50px;
  right: 50px;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #fdfdfd;
}
.hide {
  display: none;
}
.underline {
  text-decoration: underline;
}
.theme-color {
  color: salmon;
}
.thin {
  font-weight: 100;
  border: none;
}



/* 2. Tractatus Elements
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.tractatus {
  padding-right: 15px;
  padding-left: 15px;
  margin: 50px 0 0 5%;
  font-weight: 100;
  font-size: 20px;
  display: inline-block;
  top: 0;
  bottom:0;
  position:fixed;
  overflow-y:auto;
  overflow-x:hidden;
  z-index: 1;
}
#nav {
  margin-top: 10px;
}
.level2 {
  font-weight: 300;
  margin-top: 10px;
  font-size: 18px;
  margin-bottom: 10px;
}
.level2 li a::after {
  font-size: 18px !important;
}
.level3 {
  font-variant: normal;
  font-weight: 300;
  font-size: 18px;
}
.column {
  width: 30%;
  display: inline-block;
  vertical-align: top;
  min-width: 170px;
  margin-bottom: 10px;
}
article .column h4 {
  font-weight: 100;
  font-size: 20px;
}
.badge {
  font-size: 0px;
  border-radius: 5px;
  margin: 8px 0;
  margin-left: 0px;
}
.badge .inner-left {
  font-size: 12px;
  font-weight: 400;
  padding: 4px 4px 4px 6px;
  background-color: #4a3c3c;
  color: #fdfdfd;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.badge .inner-right {
  font-size: 12px;
  font-weight: 400;
  padding: 4px 6px 4px 4px;
  color: white;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  margin-right: -2px;
}
.badge .experienced {
  background-color: #91c743;
}
.badge .good {
  background-color: #32B29E;
}
.badge .familiar {
  background-color: #3b7aaa;
}
#logo {
  font-variant: small-caps;
  margin-left: 15px;
  font-weight: 600;
  font-size: 48px;
  cursor: pointer;
  margin-bottom: 0;
  line-height: 1em;
}
#background-img {
  width: 100%;
  left: 0;
  bottom: 0;
  max-width: 100%;
  z-index: 0;
  position: fixed;
}
#start-button {
  width: 100%;
  background-color: #fdfdfd;
  color: #111;

}
#start-button:hover {
  color: #fdfdfd;
  background-color: #32B29E;
}
button.active#start-button {
  background-color: #32B29E;
  color: #fdfdfd;
}


/* 2.1 Tractatus List element effects
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a:visited {
  color: #111;
}
a.active:hover {
  text-decoration: none;
}
a:not(.active):hover {
  text-decoration: none;
}
a.download::after {
  content: " ⇲";
  display: inline-block;
}
a.new-tab::after {
  font-weight: 600;
  content: " ↗";
}
a:not(.active):not(.new-tab):not(.download):not(.no-hover)::before {
  font-size: 20px;
  margin-right: 7px;
  font-weight: 600;
  content: " +";

}
a.active::before {
  margin-right: 7px;
  font-size: 20px;
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  content: " −";
}
a.reed.active::before {
  display: inline-block;
  font-size: 20px;
  margin-right: 7px;
  content: " ✌";
}


/* 3. Content Elements
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.content {
  display: inline-block;
  vertical-align: top;
  float: right;
  width: 50%;
  margin-right: 100px;
  min-height: 450px;
  padding: 20px;
  color: rgba(0,0,0,.8);
  z-index: 0;
}
.nested-article:before {
  display: block;
  content: " ";
  margin-top: -75px;
  height: 75px;
  visibility: hidden;
}
.core-capabilities {
  margin: 100px 0;

  img {
    width: 75%;
    height: 75%;
  }

  .right {
    width: 50%;
    display: inline-block;
    float: right;
  }
  .left {
    width: 50%;
    display: inline-block;
    float: left;
  }
}
.portfolio {
  img {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  }
}
.track-btn {
  background-color: #fdfdfd;
}
.track-btn:hover {
  //background-color: #32B29E;
  //color: #fdfdfd;
  text-decoration: underline;
  cursor: pointer;
}
#track-select {
  text-align: center;
  margin-top: 20px;
  button {
    display: block;
    width: 100%;
  }
}

#bottom {
  color: #fdfdfd;
}
#top-button {
  display: none;
  position: fixed;
  bottom: 30px;
  right:10px;
  border-radius: 5px;
  background-color: #fdfdfd;
  color: black;
  z-index: 20;
}


/* Skeleton.CSS Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
  margin: 10px;}
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }


@media (max-width: 1200px){
  .container {
    left: 0;
    right: 0;
    width: 100%;
  }
  .tractatus {
    margin-left: 0;
  }
  .content {
    margin-right: 0;
    width: 55%;
  }
  article img {
    max-width: 100%;
    margin-left: 0;
  }
}


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (max-width: 700px) {
  article {
    h1 {
      font-size: 1.725em;
      line-height: 1.25em;
    }
    h2 {
      font-size: 1.625em;
      line-height: 1.15em;
    }
    h3 {
      font-size: 1.475em;
      line-height: 1.136em;
      font-variant: small-caps;
      font-weight: 600;
    }
    h4 {
      font-size: 1.125em;
      line-height: 1.1em;
    }
    h5 {
      font-weight: 600;
      font-size: 1.05em;
      line-height: 1.15em;
    }
    p, li {
      font-size: 1em;
      line-height: 1.25em;
    }
  }
  .container {
    left: 10px;
    right: 10px;
    width: inherit;
    margin-top: 20px;
  }
  canvas {
    margin-top: 10px;
  }
  #background-img {
    margin-top: 0;
    bottom: 0px;
  }
  .content {
    margin: 0;
    width: 93%;
    min-height: auto;
  }
  .tractatus {
    margin-left: 0;
    margin-top: 20px;
    position: relative;
    overflow-y: hidden;
    background-color: #fdfdfd;
  }
  .portfolio-pictures {
    height: 200px;
  }
  .portfolio-pictures div p {
    padding: 60px;
  }
  article img {
    width: 100%;
    max-width: 100%;
    margin-left: -15px;
  }
  #home-img {
    margin: 0 0;
  }
  #start-button {
    margin-bottom: 0;
  }
  #track-select {
    button {
      width: 100%;
    }
  }
  #top-button {
    bottom: 15px;
    right:15px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  }
  #background-img {
    margin-top: 0px;
    max-width: 100%;
    margin-left: 0px;
  }
  #pg {
    display: none;
  }
  article img {
    max-width: 100%;
    margin-left: 0;
  }

}