//body {
//  background-color: black;
//  color: white;
//}

body {
  background-color: black;
}

p {
  margin: 0;
}

a {
  //color: white;
  color: black;
  cursor: pointer;
}
.active {
  background-color: yellow;
}
article {
  margin-bottom: 20px;

  h2, h3 {
    margin-bottom: 0;
  }

  h2 {
    font-variant: small-caps;
    font-weight: 500;
    font-size: 30px;
  }
  img {
    margin-bottom: 5px;
    border-radius: 2px;
  }
}
.background {
  /*margin: 20px 150px;*/

  /*height: 97vh;*/
}
.content {
  position: absolute;
  width: 92%;
  min-height: 87vh;
  left: 50px;
  right: 50px;
  margin-top: 40px;
  margin-bottom: 40px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  background-color: white;
}
ol {
  counter-reset: section;                /* Creates a new instance of the
                                            section counter with each ol
                                            element */
  list-style-type: none;
  margin-left: 15px;
}
li::before {
  counter-increment: section;            /* Increments only this instance
                                            of the section counter */
  content: counters(section,".") " ";    /* Adds the value of all instances
                                            of the section counter separated
                                            by a ".". */
  /* if you need to support < IE8 then
     make sure there is no space after
     the ',' */

  font-size: 16px;
  margin-right: 5px;

}
.tractatus-wrapper {
  padding-right: 15px;
  padding-left: 15px;
  margin: 50px 0 0 5%;
  font-weight: 100;
  font-size: 20px;
  display: inline-block;
  position: static;
}
.level2 {
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 10px;
}
.level2 li::before {
  font-weight: 300;
}
.level3 {
  font-variant: normal;
  font-weight: 300;
  font-size: 18px;
}
.content-box {
  display: inline-block;
  margin-left: 50px;
  min-height: 450px;
  vertical-align: top;
  margin-top: 10px;
  width: 50%;
  padding: 20px;
  font-weight: 100;
}
.content-box img {
  width: 100%;
}
#home-img {
  height: 500px;
  margin: 0 10%;
  width: auto;
}
.portfolio-pictures {
  width: 100%;
  color: white;
  display: inline-block;
  text-align: center;
  font-variant: small-caps;
  font-size: 24px;
  margin-bottom: 5px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  height: 300px;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.portfolio-pictures div p {
  padding: 100px;
}
.picture-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.9);
  color: white;
  display: none;
  animation: fadeIn .5s ease-in 1 forwards;
}
.picture-overlay p {
  line-height: 1em;
}
.nested-article {

}
.hide {
  display: none;
}

#space {
  //border: 1px solid lime;
  padding: 0;
  //margin-left: -50px;
  margin-top: -30px;
  float: left;
  //background-color: black;
  //box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
#planets {
  padding: 0;
  //margin-left: -50px;
  margin-top: -30px;
  //border: 1px solid yellow;
}

@media (max-width: 500px) {
  .background {
    margin: 0 20px;
  }
  .content {
    left: 10px;
    right: 10px;
    width: inherit;
    margin-top: 20px;
  }
  .content-box {
    margin: 0;
    width: 90%;
    min-height: auto;
  }
  .tractatus-wrapper {
    margin-left: 0;
    margin-bottom: 100px;
  }
  .portfolio-pictures {
    height: 200px;
  }
  .portfolio-pictures div p {
    padding: 60px;
  }
  #home-img {
    margin: 0 0;
  }
  #space {
    width: 100%;
    height: auto;
    left: 155px;
    bottom: 0;
  }
  #planets {
    width: 100%;
    height: auto;
    left: 155px;
    bottom: 0;
  }
}