<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <!--<div class="wrapper">-->
          <div class="site-navbar" id="left-nav">

            <div class="nav-group">
              <h2 class="lightest" style="text-decoration: underline;"><a href="/" >reedk</a></h2>
              <a href="/about/" class="regular">about</a>
              <a href="#" class="regular">articles</a>
              <a href="#" class="light shrink">cheap flights</a>
              <a href="#" class="light shrink">programming</a>
              <a href="/career/" class="regular">career</a>
              <a href="/contract/" class="regular">contract</a>
              <a href="#" class="regular">contact</a>
              <a href="#" class="regular">portfolio projects</a>
            </div>
          </div>
          <div class="content-wrapper">
            {{ content }}
          </div>
      <!--<div class="site-navbar" id="right-nav">-->
        <!--<div class="nav-group">-->
          <!--<h2 class="lightest"><a href="/">reedk</a></h2>-->
          <!--<a href="/career/" class="regular">career</a>-->
          <!--<p class="light shrink">software developer</p>-->
          <!--<p class="light shrink">technical product manager</p>-->
          <!--<a href="/career/" class="regular shrink">see more</a>-->
        <!--</div>-->
        <!--<div class="nav-group">-->
          <!--<a href="/contract/" class="regular">contract</a>-->
          <!--<p class="light shrink">photography</p>-->
          <!--<p class="light shrink">consulting</p>-->
          <!--<p class="light shrink">development</p>-->
          <!--<a href="/contract/" class="regular shrink">see more</a>-->
        <!--</div>-->
        <!--<div class="nav-group">-->
          <!--<a href="#" class="regular">contact</a>-->
        <!--</div>-->
      <!--</div>-->

      </div>

    <!--</div>-->

    {% include footer.html %}

  </body>

</html>
