---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <img src="{{ page.image }}" style=" width: 100%; height: 250px">

  <header class="post-header">
    <h1 class="page-heading" itemprop="name headline">{{ page.title }}
      <span class="post-meta">
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
        {% if page.author %} •
          <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
        {% endif %}
      </span>
    </h1>
  </header>
  <!--<div style="background-image: url('{{ page.image }}'); background-size: cover; height: 250px"></div>-->


  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>
